.thumbnail{
  width:100%;
}


.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.pfp{

  width: 35px;
  vertical-align: top;
}
.info{

  width: 200px;
  
}
.profile{
  width: 100%;
  border-radius: 50px;

}
.title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
}
.thumbnail-row{
  margin-bottom: 12px;
}

.author, .stats{
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}
.author{
  margin-bottom: 4px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.stats{
  margin-top: 4px;
}